---

---
<section class="grid gap-4">
  <h1 class="text-xl tracking-wide">
    ¡Hola! I'm <span class="font-bold">Felipe Ossandón 👋</span>
  </h1>
  <p>
    I'm a frontend developer based in Chile with +3 years of experience. Mainly
    focused on building web applications with React and Next.js.
  </p>
  <p>
    My background is in the intersection of technology and design. I'm
    passionate about Generative AI, design systems, enhancing both user and
    developer experiences and everything related to product.
  </p>
</section>
