<footer class="flex flex-col py-20 px-6 mt-auto">
  <div
    class={`
    h-px w-full max-w-[1040px] mx-auto
    dark:[background:_radial-gradient(50%_50%_at_50%_50%,_rgba(255,_255,_18,_0)_0%,_rgba(255,_255,_255,_0.14)_50.52%,_rgba(255,_255,_18,_0)_100%)]
    [background:_radial-gradient(50%_50%_at_50%_50%,_rgba(0,_0,_0,_0)_0%,_rgba(106,_106,_106,_0.14)_50.52%,_rgba(100,_100,_100,_0)_100%)]
    `}
  >
  </div>
  <p class="text-center text-xs text-secondary opacity-50 mt-[40px]">
    @felipetodev - <span class="text-[11px]">{new Date().getFullYear()}</span>
  </p>
</footer>
