---
import "@fontsource/geist-sans";
import "@fontsource/geist-sans/600.css";
import "@fontsource/geist-sans/700.css";
const { title, description } = Astro.props;
---
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="dark:bg-[#111010] dark:text-[#FAFAFA]">
    <main
      class="relative flex flex-col mx-auto max-w-[750px] gap-y-10"
    >
      <slot />
    </main>
    <style is:global>
			:root {
				--color-primary: #ddd;
				--color-secondary: #333;
				--color-accent: #b4cd02;

				--background-color: #141800;
			}

      html {
        font-family: "Geist Sans", system-ui, sans-serif;
      }
    </style>
  </body>
</html>
