---
const { class: classname } = Astro.props;
---
<span class:list={["text-[11px] opacity-70 border dark:border-neutral-800 rounded-md px-1.5 py-1 transition-colors hover:bg-neutral-100/50 dark:hover:bg-neutral-100/5", classname]}>
  <slot />
</span>