---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {}

const { class: classname, ...props } = Astro.props;
---
<a
  class:list={[`
  relative flex items-center font-semibold w-fit group
  before:absolute before:h-0.5 before:rounded-full before:w-full before:-bottom-0.5 before:bg-[#111010] before:dark:bg-[#FAFAFA] before:opacity-0 hover:before:opacity-100 before:transition-opacity
  `, classname]}
  {...props}
>
  <slot />
  <svg
    class="transition-opacity group-focus:opacity-100 group-hover:opacity-100 opacity-0 size-2 ml-2"
    width="12"
    height="12"
    viewBox="0 0 12 12"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    ><path
      d="M2.07102 11.3494L0.963068 10.2415L9.2017 1.98864H2.83807L2.85227 0.454545H11.8438V9.46023H10.2955L10.3097 3.09659L2.07102 11.3494Z"
      fill="currentColor"></path></svg
  >
</a>
